<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
    <h1>Gotta Catch'em All</h1>
</head>

<form action={% url 'common_search' %}  method="POST">
    {% csrf_token %}

    <input type='text' name='title'  placeholder='Search for a type or Pokemon'/>
    <input type='submit' value='Go' />
</form>

{% block content %}
<body>
    
</body>
{% endblock %}
</html>