{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
{% block content %}
<body>


    {% if forms %}
        <h3>{{ name|upper }}</h3><br>
        <img src="{{ sprites.front_default }}" alt="Image of {{ common_id }}"height=150px width=150px>
        <img src="https://img.pokemondb.net/artwork/large/{{common_id}}.jpg" height=125px width=125px><br>
        Id: {{ id }}<br>
        Base experience: {{ base_experience}}<br>
        Height: {{ height }}<br>
        Weight: {{ weight }}<br>
        Type: {{ types|capfirst }}

    {% endif %}
    

    {% if pokemon_list %}
        <strong>List of {{ common_id|capfirst }} type Pokemon</strong>
        <ol>
            {% for pokemon in pokemon_list %}
                <li> {{ pokemon|capfirst }} </li>
            {% endfor %}
        </ol>
    {% endif %}
    
    
    
</body>
{% endblock %}
</html>