{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
{% block content %}
<body>


    {% if forms %}
        <h3>{{ name|upper }}</h3><br>
        <img src="{{ sprites.front_default }}" alt="Image of {{ common_id }}"height=150px width=150px>
        <img src="https://img.pokemondb.net/artwork/large/{{common_id}}.jpg" height=125px width=125px><br>
        <br>
        <strong>Pokemon ID</strong>      : {{ id }}<br>
        <strong>Base Experience</strong> : {{ base_experience }}<br>
        <strong>Height</strong>          : {{ height }}<br>
        <strong>Weight </strong>         : {{ weight }}<br>
        <strong>Type</strong>            : {{ types|capfirst }}<br>
    {% endif %}
    

    {% if pokemon_list %}
        <h3>List of {{ type_id|capfirst }} type Pokemon</h3>
        <ol>
            {% for pokemon in pokemon_list %}
                <li><a href="/pokemon/{{pokemon}}">{{ pokemon|capfirst }}</a></li>
            {% endfor %}
        </ol>   
    {% endif %}
    
    
    
</body>
{% endblock %}
</html>