{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <strong>
        <h2>List of types</h2>
    </strong>
    <ol>
        {% for types in newdata %}
            <li> {{ types|capfirst }} </li>
        {% endfor %}
    </ol>  
    <form action={% url 'dynamic' %}  method="POST">
        {% csrf_token %}

        <input type='text' name='title'  placeholder='Search a type'/>
        <input type='submit' value='Show Pokemon' />
    </form>

</body>
{% endblock %}
</html>