{% extends 'base.html' %}

{% block content %}
<ol>
    
    {% for instance in object_list %}
        <h3><li>{{ instance.name|upper}}</li></h3><br>
        <img src="{{ instance.sprite }}" ><br>

        <strong>Pokemon ID</strong>      : {{ instance.pokedex_id }}<br>
        <strong>Base Experience</strong> : {{ instance.base_experience }}<br>
        <strong>Height</strong>          : {{ instance.height }}<br>
        <strong>Weight </strong>         : {{ instance.weight }}<br>
        <strong>Type</strong>            : {{ instance.type|capfirst }}<br>
        <strong>Level </strong>          : {{ instance.level }}<br>
       
    {% endfor %}

</ol>


{% endblock %}