{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>

    <h3>{{ name|upper }}</h3><br>
    <img src="{{ sprites.front_default }}" alt="home"height=125px width=125px>
    <img src="https://img.pokemondb.net/artwork/large/{{ name }}.jpg" height=100px width=100px><br>
    <br>
    <strong>Pokemon ID</strong>      : {{ id }}<br>
    <strong>Base Experience</strong> : {{ base_experience }}<br>
    <strong>Height</strong>          : {{ height }}<br>
    <strong>Weight </strong>         : {{ weight }}<br>
    <strong>Type</strong>            : {{ types|capfirst }}<br>
    
</body>
{% endblock %}
</html>